spring:
  application:
    name: micro-collector
  cloud:
    openfeign:
      client:
        config:
          default:
            connect-timeout: 5000
            read-timeout: 5000

micro-recipient:
  url: ${MICRO_RECIPIENT_URL:http://localhost:8082}

scheduler:
  interval:
    seconds: 10

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
