spring:
  application:
    name: micro-recipient
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: 5672
    username: guest
    password: guest

rabbitmq:
  queue:
    name: notification-queue

scheduler:
  interval:
    seconds: 5

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
